!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Todolist
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet" }

  %body
    %nav.navbar.navbar-expand-lg.bg-dark.text-white
      .container-md
        %a.navbar-brand.text-white{:href => "#"} Todolist
        %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav
            %li.nav-item
              %a.nav-link.text-white{:href => projects_path} Projetos
    .container-md.main
      - flash.each do |type, message|
        %div{class: class_name(type)}
          = message

      = yield

    %br
    %center
      Bootcamp Euax 2022
